/*MAIN HTML*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Belanosima', sans-serif;    margin: 0;

}

section {
    background-color: #000623;
}

.nav-a:hover {
    color: #ef744b;
}

.regular-text, .header-text {
    color: white;
}

.header {
    background-color: #000623;
    height: 100vh;
    color: white;
    font-size: 40px;

}

footer {
    background-color: #000623;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
    color: white;
}


h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
}


.subtext {
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 47px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.social:hover {
    fill: #ef744b;
}

.logo {
    height: 170px;
    margin: 0;
}
.social {
    margin: 20px;
    fill: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}



/*ABOUT SECTION*/

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}


/*PROJECT SECTION*/


.project-card1 {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    border-radius: 1rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;

}

.project-card1 {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    border-radius: 1rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.project-card2 {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    border-radius: 1rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.project-card3 {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    border-radius: 1rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.project-card4 {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
    border-radius: 1rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}


.card-back, .card-front {
    width: 300px;
    height: 500px;
    border-radius: 1rem;
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    background-image: url("img/project1.png");
}

.card-back {
    transform: rotateY(180deg);
}


.project-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

}

.project-card1:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.project-card2:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.project-card3:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}


.project-card4:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}


hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

.project-image {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 1rem;
}

/*CONTACT SECTION*/

a {
    text-decoration: none;
    color: white;
}

/*SKILLS SECTION*/
.skills {
    text-align: center;
    color: white;
    margin: 0;
}

.skills-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills-row {
    display: flex;
    justify-content: space-around;
}

.skills-icon {
    width: 70px;
    height: 70px;
    margin: 10px;
    border: none;
}

/*.skills-icon:hover {*/
/*    transform: scale(1.1);*/
/*    box-shadow: 0 0 15px #dcdcdc;*/
/*    border: none;*/
/*}*/

.skills-content {
    width: 70px;
    height: 70px;
    top: 10px;
    left: 10px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
    color: white;
}

.skills-content:hover {
    opacity: 1;
}

.skills-text {
    font-size: 15px;
}

.image {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 15px;
}



/*FOOTER SECTION*/

.contact-container {
    display: flex;
    justify-content: space-around;
}



/*MEDIA QUERIES*/


@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #2b2c38;
    }

    .logo {
        display: none;
    }

}